<div class="page-wrapper p-2">
  <h2> <strong> And the winner is ... </strong> </h2>

  <div class="winner-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= winner.item.photo_url %>')">
    <div class="winner-card-info">
      <p><%= winner.item.name %></p>
      <p><%= winner.item.address %></p>
      <div class="ratings">
        <% winner.item.rating.round.times do  %>
          <i class="fa fa-star rating-color"></i>
          <% end %>
          <% (5 - winner.item.rating.round).times do  %>
            <i class='fa fa-star'></i>
          <% end %>
      </div>
    </div>
  </div>
  <div class="winning_phone">
    <div><p><i class="fa-solid fa-phone"></i> Call to book for <%= winner.deck.voters.count %> people <br><%= winner.deck.date&.strftime(" on %d %B %Y" ' @ ' "%l" ':' "%M%P") %></p></div>
    <div class="phone_number"> <%= winner.item.item_phone %></div>
  </div>
  <div class="emoji-container">
    <% 10.times do  %>
        <div class="emoji" style="top: <%= rand(0..90) %>vh; left: <%= rand(0..95) %>vw;"> <h1>🎉</h1></div>
    <%end %>
  </div>

  <div>
    <button class="create-btn" data-controller="sharing"
      data-action="click->sharing#share"
      data-sharing-title-value="<%= @deck.name %>"
      data-sharing-url-value="<%= deck_url(@deck) %>"><i class="fa-regular fa-share-from-square"></i> Share</button>

  </div>
</div>
