<div class="container">
  <h2 ">And the restaurant for the <%= @deck.name %> event is.... </h2>
  <div class="container">
    <h3>
    <strong><%= winner.item.name %> </strong>
    </h3>
  </div>

  <div class="container">
    <%= winner.item.address %>
  </div>

  <div class="container">
       <img class="winner-image", src="<%= winner.item.photo_url %>"/>
  </div>

  <p>Share the result with your friends</p>

  <div data-controller="clip-board" data-clip-board-feedback-text-value="Copied!">
    <input style="opacity: 1; height: auto; width:auto; position: absolute; z-index: -1;" class="d-some" data-clip-board-target="input" type="text" value=" <%= deck_url(@deck) %>" readonly>
    <div class="bg"></div>
    <button class="btn btn-primary" data-action="click->clip-board#copy">Copier le lien</button>
  </div>
</div>
