<div class="navbar-app d-flex justify-content-between p-3">
  <%= link_to decks_path, class:"d-flex flex-column align-items-center" do %>
    <i class="fa-solid fa-question white fw-bold"></i>
    <div>
      Dashboard
    </div>
  <% end %>

  <%= link_to decks_choose_path, class:'link-center' do %>
    <i class="fa-solid fa-circle-plus navbar-btn"></i>
  <% end %>

  <div type="button" data-bs-toggle="collapse" data-bs-target="#navbarBottom" aria-controls="navbarBottom" aria-expanded="false" aria-label="Toggle navigation">
    <span class="d-flex flex-column align-items-center">
      <i class="fa-solid fa-user white"></i>
      <div>
        Profile
      </div>
    </span>
  </div>

  <div class="collapse navbar-collapse navbar-collapse-custom" id="navbarBottom">
    <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Edit profile", edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>


</div>
