<div class="container">
  <div class="row">

      <div class="create-btn-container">
            <%= link_to 'Créer une nouvelle liste', decks_choose_path, class:'create-btn' %>
      </div>

    <div class="tab deck-tab">
      <button class="tablinks tab_btn all" onclick="openTab(event, 'all')" id="defaultOpen">All</button>
      <button class="tablinks tab_btn mine" onclick="openTab(event,'mine')"> Mine </button>
      <button class="tablinks tab_btn pending" onclick="openTab(event, 'pending')">Pending</button>
      <button class="tablinks tab_btn closed" onclick="openTab(event, 'done')">Closed</button>
    </div>

      <div id="all" class="tabcontent">
        <%= render partial: 'decks/deckcards', locals: { decks: @decks } %>
      </div>

      <div id="mine" class="tabcontent">
        <%= render partial: 'decks/deckcards', locals: { decks: @my_decks } %>
      </div>

      <div id="pending" class="tabcontent">
        <%= render partial: 'decks/deckcards', locals: {decks: @pending_decks} %>
      </div>

      <div id="done" class="tabcontent">
        <%= render partial: 'decks/deckcards', locals: {decks: @closed_decks} %>
      </div>
</div>

<script>
function openTab(evt, tabName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
