<div class="container py-5">
  <div class="row justify">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="deck-form" data-controller="range-slider">
        <h3>Create a new deck</h3>
        <%= simple_form_for @deck do |f| %>
          <%= hidden_field_tag :item_type, params[:deck] %>
          <% if params[:deck] == "Restaurant" %>
            <%= f.input :name, placeholder: "name of your deck" %>
            <%= f.input :address, placeholder: "which neighbourhood?" %>
            <%= f.input :price_range, input_html: { type: 'range', min: 0, max: 4, step: 1, class: 'form-range', id: 'customRange3', data: { action: "input->range-slider#change"} } %>
            <p>Selected value: <span class="fw-bold" data-range-slider-target="euro">€€€</span></p>

          <% elsif params[:deck] == "Movie" %>
              <%= f.input :name, placeholder: "name of your deck" %>
              <%= f.input :movie_genre, collection: ["Drame", "Comédie", "Thriller", "Fantastique", "Romance", "Horreur"] %>
          <% else %>
              <%= f.input :name, placeholder: "name of your deck" %>
              <%= f.input :price_range, collection: ([['€', '€'], ['€€', '€€'], ['€€€', '€€€'], ['€€€€', '€€€€']]).to_a %>
           <% end %>
          <%= f.submit "Validate", class: "create-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
