<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>



    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <the-script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></the-script>
  </head>

  <body>

    <% if user_signed_in? && params[:action] != "show" %>
      <div class="d-flex justify-content-center m-3" >
        <%= image_tag "logo-noir.png", style: "height:50px; width:29px" %>
      </div>
      <%= render "shared/navbar-mobile" %>
    <% elsif user_signed_in? && params[:action] = "show" %>
      <%= render "shared/navbar-mobile" %>
      <div class="p-2">
      </div>
    <% else %>
      <div class="p-5">
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
